<div class="card card-nav-tabs text-center">
  <div class="card-header card-header-primary">
    <h1>Bienvenue sur Synergie-Urbaine</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title">Vous recevez ce mail car vous venez de vous inscrire sur notre site internet, et nous vous en remercions</h4>
    <p class="card-text">
			Maintenant tu peux créer ou rejoindre des évènements, écrire des articles, voir les profils des autres utilisateurs...<br/>
			On espère que tu expérience sera la meilleure sur notre site.<br/>
			</p>
    <a href="https://synergie-urbaine.herokuapp.fr" class="btn btn-primary">Aller sur le site</a>
  </div>
  <div class="card-footer text-muted">
    Pour toute question n'hésite pas à nous contacter : synergie.urbaine@laposte.net
  </div>
</div>