<% if resource.errors.any? %>
<div style="z-index: 5;" class="alert alert-danger">
        <div class="container">
          <div class="alert-icon">
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        </div>
      </div>
      <% end %>