<div class="article-card">
<div class="card card-nav-tabs article-show">
  <div class="card-header card-header-warning">
    <%= @article.title %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @article.content %></p>
    <p class="card-text">Ecrit le : <%= @article.created_at %></p>
    <%= link_to "Par : #{@article.author.pseudo}", user_path(@article.author) %>
  </div>
</div>
</div>