<center>
  <h1 class="card-title index-title">Sauve la planète depuis chez toi</h1>
  <hr style="width: 300px;">
  <br/>

<div id="main_map" class="col col-10-md col-8-lg col-10-sm mx-auto border-map"></div>

<%= javascript_include_tag 'main_map' %>

</center>
