<center>
       <div style="margin-top: 100px;" class="main main-raised">
        <div class="section section-basic">
          <div class=" container">
          	<h1>Tous les utilisateurs</h1>

  <div class="card-columns index-padding">
          	<% User.all.each do |user|%>

          	<h4><%= link_to  user_path(user.id) do %></h4>
          	
            <span class="badge badge-primary m-0"><%=user.pseudo%></span>
            <%end%>
                  <%end%>
          </div>
        </div>
      </div>
    </center>