

<div style="margin-top: 100px;" class="main main-raised">
        <div class="section section-basic">
          <div class=" container">
               <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">La super équipe de SynergieUrbaine</h2>
            <h5 class="description"></h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
  

                	  <%= image_tag "maw.png", style:"height: 150px;", class:"img-raised rounded-circle img-fluid" %>        

                </div>
                <h4 class="info-title">Mahaut</h4>
                <h4> <a href="https://github.com/maowaw">maowaw</a></h4>
 
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                	  <%= image_tag "lilas.jpeg", style:"height: 150px;", class:"img-raised rounded-circle img-fluid" %>        
                </div>
                <h4 class="info-title">Lilas</h4> 
                <h4> <a href="https://github.com/LilasAll">LilasAll</a></h4>
    
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
<%= image_tag "doggobyle.jpg", class:"img-raised rounded-circle img-fluid" %>                </div>
                <h4 class="info-title">Théo</h4>
                <h4> <a href="https://github.com/thezo23">thezo23</a></h4>
 
              </div>
            </div>
          </div>
        </div>
          </div>
            
          </div>
        </div>
        <div class>
        </div>
      </div>