<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->


<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body class="index-page sidebar-collapse">

  <div class="page-header header-filte" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/1072824/pexels-photo-1072824.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1 class="title">Lille Projet Final</h1>
            <h3 class="title">La Plateforme Partipative Ecologique et Solidaire</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- First card : presentation -->
  <div class="main main-raised">
    <div class="section section-basic">
      <div class="container">

        <div class="card card-nav-tabs text-center">
          <div class="card-header card-header-primary">
            <h3 class="title">Notre projet, c'est quoi? </h3>
          </div>
          <div class="card-body">
            <h4 class="card-title">Des événements</h4>
            <p class="card-text">Sur [nom du site], tu peux rejoindre des évènements près de chez toi et en organiser.</p>
            <a href="#0" class="btn btn-primary">Découvrir les événements</a>
          </div>
          <center>
            <img src="https://images.pexels.com/photos/3184177/pexels-photo-3184177.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="..." class="img-thumbnail" style="width: 300px">
          </center>
          <div class="card-body">
            <h4 class="card-title">Du partage de connaissances</h4>
            <p class="card-text">Sur [nom du site], tu peux poster des articles et profiter de ceux des autres. Le contenu d'un article? Laisse parler ton imagination ! <br/>
              Le but est de partager nos bons plans, nos connaissances, nos savoirs... Dans les domaines de l'écologie et de la solidarité. <br/>
            Le site est consu selon un principe inclusif et participatif : chacun est libre de participer à la communauté. On a tous quelque chose à apprendre des autres ! </p>
            <a href="#0" class="btn btn-primary">Lire des articles</a>
          </div>
          <center>
            <img src="https://cdn.pixabay.com/photo/2015/04/27/15/01/vegetables-742095_960_720.jpg" alt="..." class="img-thumbnail" style="width: 300px">
          </center>
          <br/>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
