<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">


  <head>
  </head>
  <body class="index-page sidebar-collapse">
    <div class="page-header header-filte" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/1072824/pexels-photo-1072824.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand">
              <h1 class="title">SYNERGIE URBAINE</h1>
              <h3 class="title">La Plateforme Participative Ecologique et Solidaire</h3>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- First card : presentation -->
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">

            <h1 class="text-center" >Cherchez des évenements près de chez vous </h1>
            <h2 class="text-center" >ou créez en !</h2>
            <br/>
            <br/>
            <form style="margin-left:35%; " class='  form-inline ' action="/search">
              <input placeholder='ex: Solidaire' name="q" class="form-control mr-sm-2" type="text" aria-label="search">
              <button class="btn btn-outline-sucess my-2 my-sm-0"  type="submit" >Chercher</button> <p style="margin: 30px" >Ou</p>              <%= link_to "Creer", new_event_path %>  
</form>
   <center  >
 <button  style=' margin-bottom: 200px' class=" text-center  btn btn-outline-sucess my-2 my-sm-0"> <%= link_to 'Tout les événements', events_path %>  </button> <button style='margin-bottom: 200px' class=" text-center btn btn-outline-sucess my-2 my-sm-0"> <%= link_to 'Tout les articles', articles_path %>  </button>
            
           
            
</center>




             
                </a>

              </div>

            </div>

          </div>
        </div>
      </body>
    </html>
