/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 *= require main
 *= require bootstrap-slider

 */

/* AU DESSUS ON RELIE TOUS LES CSS */


/* CSS PERSONAL ADD */

.article-show {
	padding: 30px;
	width: 70%;
}

.article-card {
	display: flex;
  justify-content: center;
  flex-direction: row;
}

.index-padding {
	padding: 100px;
}

.content-field{
	width: 50%;
	height: 50%;
}

.btn-profil {
  margin:0 auto;
  display: block;
  width: 20%;
}

.edit-profil {
	padding: 10px 50px 20px;
	width: 70%;
}
