<center>
<p>Bonjour <%= @resource.email %>!</p>

<p>Vous recevez cet email car vous avez demander à réinitialiser votre mot de passe. Pour cela, merci de cliquer sur le lien ci-dessous : </p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas fait cette demande, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne sera pas changé si vous ne cliquer pas sur le lien ci-dessus.</p><br/>
<p>A bientôt sur Synergie Urbaine</p>
</center>
