<div class="container">
  
Merci de votre intêret et de votre participation à notre communauté !

  Vous allez participer à <%= @event.title %> ! Vous pouvez directement contacter <%= @event.creator.pseudo %>


                <%= link_to "Participer", new_event_attendance_path(@event), class: "btn btn-outline-success" %>

              <%= button_to "subscribe", event_attendances_path(event_path(@event), :method => :post)%>


</div>