
  <!--  End Modal -->
<center>
  <footer class="footer" data-background-color="black">
    <div class="container">
      <div class="copyright float-right">
        &copy;
        SYNERGIE URBAINE
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
                   <P>Lilas, Mahaut & Théo </P>
      </div>
    </div>
  </footer>
</center>